doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Your Project Title
    link(rel="stylesheet", href="./public/stylesheets/styles.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js")

  body
    header
      h1 Dispomed
      //nav
      //  ul
      //    li
      //      a(href="#") Home
      //    li
      //      a(href="#") About
      //    li
      //      a(href="#") Contact
    main
      //section
      //  h2 Ruptures de stocks par mois
      //  p Ce graphique montre l'évolution du nombre de ruptures de stock par mois
      //  div#chart
      //  script(type="module" src="/src/d3Visualizations.js")

section
    h2 Incidents de disponibilité par produit
    p Ce graphique montre les incidents de disponibilité pour chaque produit
    div#chart-container
        div#chart-header
        div#last-report-date
        div.flex-container
            div#controls-and-search.chart-controls-container
                div#chart-controls
                p.controls Echelle de temps
                div.button-row
                    button#show-6-months.chart-button Derniers 6 mois
                    button#show-12-months.chart-button Derniers 12 mois
                div.button-row
                    button#show-24-months.chart-button Derniers 24 mois
                    button#show-all-data.chart-button Toutes les données
                p.controls Recherches
                details.atc-selector
                    summary.atc-button Select ATC Classes
                    .atc-options
                        .atc-option
                        input(type="checkbox" id="atc1" name="atc" value="A")
                        label(for="atc1") Class A - Alimentary tract and metabolism
                        .atc-option
                        input(type="checkbox" id="atc2" name="atc" value="B")
                        label(for="atc2") Class B - Blood and blood forming organs
                        //- Add more checkboxes as needed
                input(type="text" id="search-box" placeholder="Rechercher un produit...")
            div#summary
            div#tooltip(style="position: absolute; opacity: 0; pointer-events: none;")
        div#dash
    script(type="module" src="/src/availability_table.js")

    footer
      p 2024 - Antheos
