extends layout

block scripts
  script(type='module', src='/js/draw_product_page.js')

block content
  div.retour-container
    a.productpg-back-link(href="/")
      i(class="fa-solid fa-arrow-left")
      |  Retour à l'accueil
  div.main-container
    div#title-container.flex-container
      img#capsule-icon(src="/images/gris_carre_leger.png" alt="Icône de capsule")
      div#title-text
        h1#report-title
        h2#mise-a-jour

    div.flex-container
      .productpg-inner-wrapper
        .productpg-status-row
          span.productpg-status-icon
            i(class="fa-solid fa-square-xmark rupture-icon")
          span.productpg-status-label Statut actuel :
        .cis-list#cis-list
        h2.section-title Statistiques
        #productpg-stats
    h2.section-title Historique des incidents
    #productpg-timeline-container.productpg-timeline-container
    
    h2.section-title Alternatives thérapeutiques
    #substitutions-container

    h2.section-title Incidents EMA liés
    #ema-incidents

block head
  script.
    window.productId = !{JSON.stringify(productId)};